#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:
clean:
	dh_clean

binary-arch:

binary-indep:
	dh_install --exclude=tar.gz --exclude=.zip
	dh_installdeb
	dh_installcron
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-arch binary-indep binary
